.catalog {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.catalog h1{
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 3rem;
    row-gap: 4rem;
}