#hero{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #f8f8f8;
    
}
#hero > div{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#hero h6{
    font-size: 1.125rem;
    line-height: 1.75rem;
}

#hero h1{
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
}
#heroImage{
    width: 50%;
}
