.card img{
    height: 10rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.card h2{
    margin-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.food-information>span{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    line-height: 1rem;
    text-transform: capitalize;

}
.size {
    background-color: #f8f8f8;
}
.food-information>div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5rem;
}
.card{
    width: 16rem;
}
.price{
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
}
.add-to-cart{
    border: 2px solid ;
    color: #8800ff;
    transition: all .3s ease-in-out;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    font-weight: bold;

}

.add-to-cart:hover{
    background: #8800ff;
    border: #ffffff;
    color: #ffffff;
}
.add-to-cart:focus{
    outline-style: none;
}

.add-to-cart span+span{
    margin-left: 1rem;
}
.food-information{
    text-align: center;
}